{% extends 'base.html' %}
{% block title %}
    Configure App
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" enctype="multipart/form-data" style="color:white">
            {{ form.hidden_tag() }}
            <br>
                <h1 class="h3 mb-3 font-weight-normal">
                    <br>Configure App</br>
                </h1>
            </br>
            <br>

                {{ form.company_name.label() }}
                {{ form.company_name(class="form-control", placeholder="Company Name") }}

                <br>

                {{ form.logo.label() }}
                {{ form.logo(class="form-control", placeholder="filename") }}

                <br>

                {{ form.chat_report.label() }}
                {{ form.chat_report(class="form-control", placeholder="Chat Report") }}

                <br>

                {{ form.web_app.label() }}
                {{ form.web_app(class="form-control", placeholder="Web App") }}

                </br>

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}